In [1]:
import pandas as pd
import numpy as np

url = 'http://www.bls.gov/news.release/cpi.t01.htm'
dfs = pd.read_html(url, header=0)

print(len(dfs))

1

In [2]:
type(dfs[0])

pandas.core.frame.DataFrame

In [3]:
df = dfs[0]
df

,Expenditure category,RelativeimportanceMar.2022,Unadjusted indexes,Unadjusted indexes.1,Unadjusted indexes.2,Unadjusted percent change,Unadjusted percent change.1,Seasonally adjusted percent change,Seasonally adjusted percent change.1,Seasonally adjusted percent change.2
0,Expenditure category,RelativeimportanceMar.2022,Apr.2021,Mar.2022,Apr.2022,Apr.2021-Apr.2022,Mar.2022-Apr.2022,Jan.2022-Feb.2022,Feb.2022-Mar.2022,Mar.2022-Apr.2022
1,All items,100.000,267.054,287.504,289.109,8.3,0.6,0.8,1.2,0.3
2,Food,13.361,273.090,295.728,298.711,9.4,1.0,1.0,1.0,0.9
3,Food at home,8.245,254.760,278.612,282.161,10.8,1.3,1.4,1.5,1.0
4,Cereals and bakery products,1.047,285.377,311.606,314.787,10.3,1.0,1.1,1.5,1.1
5,"Meats, poultry, fish, and eggs",1.878,271.459,305.116,310.399,14.3,1.7,1.2,1.0,1.4
6,Dairy and related products,0.759,230.170,245.258,251.030,9.1,2.4,1.9,1.2,2.5
7,Fruits and vegetables,1.432,314.973,337.503,339.385,7.8,0.6,2.3,1.5,-0.3
8,Nonalcoholic beverages and beverage materials,0.942,179.570,194.342,197.138,9.8,1.4,1.6,1.2,2.0
9,Other food at home,2.188,220.143,241.804,244.282,11.0,1.0,0.8,2.0,0.7
10,Food away from home(1),5.116,301.819,321.689,323.559,7.2,0.6,0.4,0.3,0.6
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,Energy,8.295,229.116,298.246,298.469,30.3,0.1,3.5,11.0,-2.7
13,Energy commodities,4.926,257.289,375.027,372.220,44.7,-0.7,6.7,18.1,-5.4
14,Fuel oil(1),0.161,267.262,469.743,482.516,80.5,2.7,7.7,22.3,2.7
15,Motor fuel,4.685,253.648,368.440,365.314,44.0,-0.8,6.7,18.3,-5.8
16,Gasoline (all types),4.590,252.603,366.499,362.802,43.6,-1.0,6.6,18.3,-6.1
17,Energy services,3.369,211.838,237.825,240.865,13.7,1.3,-0.4,1.8,1.3
18,Electricity,2.511,218.627,240.558,242.778,11.0,0.9,-1.1,2.2,0.7
19,Utility (piped) gas service,0.858,188.129,225.679,230.916,22.7,2.3,1.5,0.6,3.1
20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,All items less food and energy,78.344,273.968,289.305,290.846,6.2,0.5,0.5,0.3,0.6
22,Commodities less food and energy commodities,21.513,149.915,164.449,164.520,9.7,0.0,0.4,-0.4,0.2
23,Apparel,2.538,120.656,128.919,127.126,5.4,-1.4,0.7,0.6,-0.8
24,New vehicles,4.014,149.892,168.056,169.699,13.2,1.0,0.3,0.2,1.1
25,Used cars and trucks,4.038,168.647,208.216,206.981,22.7,-0.6,-0.2,-3.8,-0.4
26,Medical care commodities(1),1.500,377.284,385.084,385.307,2.1,0.1,0.3,0.2,0.1
27,Alcoholic beverages,0.878,261.265,270.352,271.376,3.9,0.4,0.8,0.5,0.4
28,Tobacco and smoking products(1),0.516,1238.348,1321.917,1327.276,7.2,0.4,0.6,0.5,0.4
29,Services less energy services,56.831,351.265,365.938,368.565,4.9,0.7,0.5,0.6,0.7
30,Shelter,32.452,331.354,346.618,348.389,5.1,0.5,0.5,0.5,0.5
31,Rent of primary residence,7.278,346.267,361.083,362.951,4.8,0.5,0.6,0.4,0.6
32,Owners' equivalent rent of residences(2),23.816,340.162,354.968,356.439,4.8,0.4,0.4,0.4,0.5
33,Medical care services,6.881,572.108,589.652,591.940,3.5,0.4,0.1,0.6,0.5
34,Physicians' services(1),1.849,405.869,409.998,410.830,1.2,0.2,-0.1,0.5,0.2
35,Hospital services(3),2.170,361.585,373.307,374.501,3.6,0.3,-0.1,0.4,0.5
36,Transportation services,5.673,324.519,340.671,351.985,8.5,3.3,1.4,2.0,3.1
37,Motor vehicle maintenance and repair(1),1.023,315.177,329.992,331.735,5.3,0.5,1.7,-0.3,0.5
38,Motor vehicle insurance,2.397,567.509,589.143,592.317,4.4,0.5,1.2,0.7,0.8
39,Airline fares,0.543,222.953,243.689,297.143,33.3,21.9,5.2,10.7,18.6
40,Footnotes (1) Not seasonally adjusted. (2) I...,Footnotes (1) Not seasonally adjusted. (2) I...,Footnotes (1) Not seasonally adjusted. (2) I...,Footnotes (1) Not seasonally adjusted. (2) I...,Footnotes (1) Not seasonally adjusted. (2) I...,Footnotes (1) Not seasonally adjusted. (2) I...,Footnotes (1) Not seasonally adjusted. (2) I...,Footnotes (1) Not seasonally adjusted. (2) I...,Footnotes (1) Not seasonally adjusted. (2) I...,Footnotes (1) Not seasonally adjusted. (2) I...

In [7]:
df1 = df[['Expenditure category', 'Unadjusted percent change']]
df1 = df1.rename(columns={'Unadjusted percent change':'Unadjusted percent change Apr.2021-Apr.2022'})
df1 = df1.dropna()
df1 = df1.drop(index=[0,40])
df1 = df1.astype({'Unadjusted percent change Apr.2021-Apr.2022': 'float'})
df1 = df1.sort_values('Unadjusted percent change Apr.2021-Apr.2022', ascending=False)
df1 = df1.style.background_gradient(axis=0, cmap='Reds')

df1